.input-image input[type='text'] {
  margin-bottom: 0.5em;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.actions :first-child {
  flex: 1 1 49%;
  margin-right: 2%;
}

.input-image :last-child {
  flex: 1 1 49%;
}
